@model UI_Design_Application.Models.Citizen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Citizen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profession)
        </dd>

        <dt class="col-sm-2">
            Address:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Division),
            @Html.DisplayFor(model => model.Address.District),
            @Html.DisplayFor(model => model.Address.Thana),
            @Html.DisplayFor(model => model.Address.Word),
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
